*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}
.main_div
{
width: 95%;
margin:auto;

}
.main_div p
{
    padding:50px 0;
    font-size:24px;
    color:#646060;
    font-family: 'Courier New', Courier, monospace;
}

.dan{
    width:100%;
    margin:50px 0; 
}
.for-width{
    width:95%;
    margin:auto;
}
.sub_div{
    display: flex;
    justify-content: space-between;
}

.Engineering{
    width:60%;
}
.Engineering p{
    padding:50px 0;
    font-size:24px;
    color:#646060;
    
    font-family:  Courier, monospace;
}

.Engineering ul{
    list-style:none;
    font-size: 18px;
    color:#302e2e;
    margin-bottom:20px;
}
.Engineering ul li{
    line-height:25px;
    padding-top:10px;
    font-family: 'Courier New', Courier, monospace;
}
.Supporting{
    width:35%;
}
.Supporting p{
    padding:50px 0;
    font-size:24px;
    color:#646060;
    font-family: 'Courier New', Courier, monospace;
}

.Supporting ul{
    list-style:none;
    font-size: 18px;
    color:#302e2e;
}

.Supporting ul li{
    line-height:25px;
    padding-top:10px;
    font-family: 'Courier New', Courier, monospace;
   
}

.second-image{
    margin-top: 50px;
    width: 100%;
    

}

.for-second-image-content{
    margin-top:70px;
    padding:100px 30px;
    background:url('../d.jpg');
    background-size:cover;
    background-blend-mode:darken;
    color: white;
}
.for-second-image-content p{
    color:white;
    font-size: 25px;
}

.list-on-image
{
    display: flex;
}
.list-on-image ul
{
    list-style: none;
    margin-right:50px;
    margin-top:20px;
}
.list-on-image ul li{
    line-height: 30px;
    font-size: 19px;
}

.ds
{
    display: flex;
    margin-top:10px;
}

.link{
    padding: 10px;
    color:rgb(100, 99, 99);
    border:1px solid rgb(90, 88, 88);
}

.link:hover{
    color:black;
    background-color: rgb(156, 155, 155);
}

.links{
    width:10px;
}

.first-div{
    width:35%;
    margin-right:20px;
}

.for-link{
    border:1px solid rgb(209, 209, 209);
    width:50%;
    padding: 20px 10px;
    font-weight:bold;
    margin-bottom: 30px;
}

.for-links{
    border:2px solid rgb(207, 202, 202);
    width:70%;
    padding: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
.for-link:hover
{
    color:black;
    background-color: rgb(173, 173, 173);

}
.for-links:hover
{
    color:black;
    background-color: rgb(173, 173, 173);

}


.second-div{
    margin-right:20px;
    width:30%;
}

.third-div{
    width:30%;
}

.for-anchor{

    margin: 20px 0;
}
.for-anchor a{
    font-size: 20px;
    color:black;
}
.for-anchor h5{
    margin-top:5px;
    color:#555454;
}

.quick{
    margin-top:40px;
    width: 100%;
}
.quick-link{
    border:1px solid rgb(136, 132, 132);
    padding:20px;
    width:250px;
}

.quick{
    border:2px solid rgb(209, 209, 209);
    width:25%;
    padding: 20px 10px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 30px;
    margin-left: 50px;
    float: left;

}

.quick:hover{
    background-color: rgb(148, 146, 146);
}

.fasa{
    margin-bottom: 20px;
    float: left;
    height:40px;
}


@media screen and (max-width:500px)
{
    .sub_div{
        display: inline;
    }

    .Engineering{
        width:100%;
    }
    .Supporting{
        width:100%;
    }
    .list-on-image
    {
    display: inline;
    }
    .main_div p
    {
    padding:30px 0;
    } 

    .ds
    {
    display: inline;
    }
    .first-div{
        width:90%;
        margin: auto;
        margin-right:20px;
    }

    .second-div{
        width:90%;
        margin: auto;
        margin-right:20px;
    }
    .third-div{
        width:90%;
        margin: auto;
        margin-right:20px;
    }
    .quicks{
        display: inline;
    }

    .quick{
        border:2px solid rgb(209, 209, 209);
        width:70%;
        padding: 20px 15px;
        font-weight:bold;
        margin-bottom: 30px;
        margin-left: 50px;
        float: left;
    
    }
}
